* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(../img/gara.avif);
    background-size: cover;
    background-position: center center;
    font-family: "Kaisei Decol", serif;
    letter-spacing: 0.1em;
}
/* ーーーーーーーーーヘッダーーーーーーーーー */
header {
    position: relative;
    /* display: flex; */
    /* justify-content: space-between; */
    background-image: url(../img/hart.avif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0px 0px 100px;
}
.font-contena {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    height: 100vh;
    font-size: 3em;
}
/* ーーーーーーーヘッダーメニューーーーーーーー */
.menu-top {
    background-color: #602d1d;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.menu-book {
    
    /* display: inline-block; */
    list-style: none;
    cursor: pointer;
    
}
.menu-item {
    padding: 10px;
}
/* ーーーーーハンバーグメニューーーーー */
.menu-botan {
    display: block;
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
#baga-icon {
    display: flex;
    border: 1px solid #602d1d;
}



/* ーーーーーーーーーーーーーメインーーーーーーーーーーー */
main {
    padding: 30px;
    margin-bottom: 100px;
    text-align: center;
    color: #602d1d;
}
/* ーーーーーーーボタンーーーーーーー */
.botan {
    background-color: #602d1d;
    color: #fff0f5;
    padding: 20px;
    width: 25%;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.botan:hover {
    background-color: #fff0f5;
    color:  #602d1d;
    transform: translateY(10px);
    /* transition: all 0.4s; */
}

/* --------------photogalleryの画像---------------- */
.photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    border: 3px dotted palevioletred;
    cursor:  pointer; 
    transition: transform 0.4s ease-in-out;
}
.photo:hover {
    transform: scale(1.1);

}


/* ーーーーーーーーー写真ーーーーーーーーーーー */
.scroll {
    overflow-x: scroll ;
}
.jouhou {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 20px;
}

/* ーーーーーーーー時間経過で切り替わるー写真ーーーーーーーーー */
.image {
    padding: 0px  100px;
    margin: 50px auto 50px;
    height: 130vh;
}
#contena {
    position: relative;
}
.art {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    object-fit: cover;
    border: 3px solid palevioletred;
}
/* .and1 {
    animation: ugoke1 5s ease-in-out 5s alternate infinite ;
}
@keyframes ugoke1 {
0% {opacity: 0;}
100% {opacity: 1;} 
}  */

.and2 {
    animation: ugoke2 4s ease-in-out 0s alternate infinite ;
    object-position: 0% 30%;
}
@keyframes ugoke2 {
0% {opacity: 0;}
100% {opacity: 1;} 
} 

/* ーーーーーーーーー動く！！プリンおばけーーーーーーーーーーーー */
.anime {
    position: relative;
}
.obake {
    top: 20px;
    right: 0px;
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    
}
.obake:hover {
    animation: ugoke4 7s ease-in-out 0s alternate infinite;
}
@keyframes ugoke4 {
0% {transform: rotate(0deg) ;}
25% {transform: rotate(-20deg);}
50% {transform: rotate(20deg); }
75% {transform: rotate(-20deg); }
100% {transform: rotate(0deg);} 
} 




/* ------------フッターーーーーーーーーーーー */
footer {
    background-color: #602d1d;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 5.5;
}
