* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.main {
    font-size: 5.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, );
}

.fixed {
    position: fixed;
    right: 80px;
    top: 60px;
  }
  
.h1 {
    position: center;
    right: 50rem;
    font-size: large;
  }

.h2 {
  font-size: large;
}

.photo {
  width: 300px;
  height: auto;
}
