@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 16px;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    line-height: 1.75;
    text-align: justify;
}

section {
    padding: 100px 20px;
}
/*text*/
h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    letter-spacing: .2em;
    margin-bottom: 0;
}

.spot{
    background-color: #efefef;
}

.spot ul {
    list-style-type: none;
    padding: 0;
}

/*spot*/
.spot li {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 30px;    
}
.spot img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 20px auto;
}
@media (min-width:800px){
    .spot ul{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .spot li{
        flex: 1;
        margin: 15px;
    }
}